@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{

    <div class="blog-post-area">
        <h2 class="title text-center">@T("News")</h2>
            @foreach (var item in Model.NewsItems)
            {

                <div class="single-blog-post">
                    <h3><a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                        @item.Title</a></h3>
                    <div class="post-meta">
                        <ul>
                            
                            <li><i class="fa fa-clock-o"></i> @item.CreatedOn.ToString("T")</li>
                            <li><i class="fa fa-calendar"></i> @item.CreatedOn.ToString("D")</li>
                        </ul>
                        
                    </div>
                    
                    <p>@Html.Raw(item.Short)</p>
                    <a  class="btn btn-primary" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@T("News.MoreInfo")</a>
                </div>


                
                <br/>

                <legend></legend>

            }
        <div class="view-all pull-text-right">
            <a href="@Url.RouteUrl("NewsArchive")" class="btn btn-primary">
                @T("News.ViewAll")</a>
        </div>

        
    </div>



    @*<div class="news-list-homepage">
        <div class="title mid-content-title">
            <strong>@T("News")</strong>
        </div>
        <div class="news-items offer offer-default">
            @foreach (var item in Model.NewsItems)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 pull-text-left">
                            <strong><a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                        @item.Title</a></strong>
                        </div> 
                        

                        <div class="col-md-6 pull-text-right">
                            @item.CreatedOn.ToString("D")
                        </div>

                    </div>
                    <br/>

                    <div class="news-details">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="pull-text-right"><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more btn btn-default">
                                                     @T("News.MoreInfo")</a></div>
                </div>
                <br/>

                <legend></legend>

            }
            <div class="view-all pull-text-right">
                <a href="@Url.RouteUrl("NewsArchive")" class="btn btn-default">
                    @T("News.ViewAll")</a>
            </div>
        </div>
    </div>*@
<br/>

}