@model NewsItemListModel
@using Nop.Web.Extensions;
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}
<div class="col-sm-9">
    <div class="blog-post-area">
       <h2 class="title text-center">
            @T("News")
       <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="margin-orange header-rss" title="@T("News.RSS.Hint")"><i class="fa fa-rss header-rss-icon"></i></a>

            
       </h2>
    </div>
    <div class="blog-post-area text-left ">
        @Html.Widget("newslist_page_before_items")
        <div class="news-items text-left">
            @foreach (var item in Model.NewsItems)
            {
                <div class="single-blog-post text-left">
                    <div class="row">
                        <div class="col-sm-9" >
                            
                            <h4><a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h4> 
                        </div>
                        
                    </div>
                    <div class="post-meta" >
								<ul class="list-inline">
									<li><i class="fa fa-user"></i> Mac Doe</li>
									<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
									<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
								</ul>
								
					</div>

                    <div class="news-details ">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="row down-space-10 clearfix"></div>
                    
                    <div>
                        <div class="btn btn-primary">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" >
                                @T("News.MoreInfo")</a>        
                        </div>
                    </div>
                    <div class="row down-space-10 clearfix"></div>
                    
                    @Html.Widget("newslist_page_inside_item")
                </div>
                <legend></legend>
            }
        </div>
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("newslist_page_after_items")
    </div>
</div>



