@model NewsItemModel
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
}
<div class="news-item-page panel panel-default form-panel blog-post-area">
    <div class="panel-heading single-bolg-post ">
        <div class="row">
            <div class="col-md-9">
                <h3>@Model.Title</h3>
            </div>
        </div>
   
        <div class="post-meta" >
								<ul class="list-inline">
									<li><i class="fa fa-user"></i> Mac Doe</li>
									<li><i class="fa fa-clock-o"></i>  @Model.CreatedOn.ToString("T")</li>
									<li><i class="fa fa-calendar"></i>  @Model.CreatedOn.ToString("D")</li>
								</ul>
								
	    </div>
    </div>

    <div class="blog-post-area">
       
        @Html.Widget("newsitem_page_before_body")
        <div class="news-body single-blog-post">
            @Html.Raw(Model.Full)
        </div>
        @Html.Widget("newsitem_page_before_comments")
        @if (Model.AllowComments)
        {
            <div class="replay-box">
                <div class="title">
                    <h4>@T("News.Comments.LeaveYourComment")</h4>
                </div>
                @*<div class="notifications" >
                    <div class="message-error">@Html.ValidationSummary(true)</div>
                    @{
                        var result = TempData["nop.news.addcomment.result"] as string;
                    }
                    @if (!String.IsNullOrEmpty(result))
                    {
                        <div class="result">@result</div>
                    }
                </div>*@
                @using (Html.BeginForm())
                {
                    <div class="replay-box ">
                        <div class="row">
                            @Html.LabelFor(model => model.AddNewComment.CommentTitle, new { @class = "col-md-2 control-label"}, ":")
                            <div class="col-sm-4" >                            
                                @Html.TextBoxFor(model => model.AddNewComment.CommentTitle, new { @class = "form-control"})
                            </div>
                            <div class="col-md-offset-2 col-md-4">  
                                @Html.ValidationMessageFor(model => model.AddNewComment.CommentTitle)
                            </div>
                        </div>
                    </div>
                    <div class="form-fields row">
                        <div class="input form-group">
                            @Html.LabelFor(model => model.AddNewComment.CommentText, new { @class = "col-md-2 control-label"}, ":")
                            <div class="col-md-8">    
                                @Html.TextAreaFor(model => model.AddNewComment.CommentText, new { @class = "form-control",rows="10" })
                            </div>
                            <div class="col-md-offset-2 col-md-4"> 
                                @Html.ValidationMessageFor(model => model.AddNewComment.CommentText)
                            </div>
                        </div>
                        @if (Model.AddNewComment.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <div class="buttons">
                                <input type="submit" name="add-comment" class="btn btn-primary" value="@T("News.Comments.SubmitButton")" />
                                
                            </div>
                        </div>
                    </div>

                }
            </div>
            if (Model.Comments.Count > 0)
            {
                <div class="media-body text-left">
                    <div class="sinlge-post-meta">
                        <h4 style="margin-left:10px">@T("News.Comments")</h4>
                    </div>
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="news-comment row">
                            
                            <div class="comment-content col-md-9 media " style="margin-left:10px">
                                <div class="media-body sinlge-post-meta" style="border: none">
                                    <ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>@(comment.CustomerName)</li>
										<li><i class="fa fa-clock-o"></i>  @Model.CreatedOn.ToString("T")</li>
									    <li><i class="fa fa-calendar"></i>  @Model.CreatedOn.ToString("D")</li>
										
									</ul>
                                </div>
                                
                                <div class="comment-total">
                                    <div class="comment-title">
                                        <h4> <span class="comment-text">@comment.CommentTitle</span></h4>
                                    </div>
                                    <div class="comment-body">
                                        <p class="comment-text">@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(comment.CommentText, false, true, false, false, false, false))</p>
                                    </div>                                    
                                </div>
                                
                                
                            </div>
                            @Html.Widget("newsitem_page_inside_comment")
                        </div>
                    }
                </div>
            }
        }
        @Html.Widget("newsitem_page_after_comments")
    </div>
</div>




